<div class="well">
    <h3>Your site was created successfully.</h3>
    <hr>
    <p>Vist Frontend: <%= link_to("Here.", cama_root_url, target: "_blank") %></p>
    <p>Visit Admin panel <%= link_to("Here.", cama_admin_dashboard_url, target: "_blank") %></p>
    <p>user: <small>Use Spree Credentials</small></p>
    <p>pass: <small>Use Spree Credentials</small></p>
</div>